<div class="heading">
    <div><i class="material-icons">menu</i></div>
    <div>cxLoyalty</div>
    <div></div>
</div>

<div class="nav-bar">
    <div class="margin-right1" routerLink="/flights" routerLinkActive="active"><i class="material-icons">flight</i> Flights</div>
    <div class="margin-right1" routerLink="/hotels" routerLinkActive="active"><i class="material-icons">hotel</i> Hotels</div>
    <div routerLink="/cars" routerLinkActive="active"><i class="material-icons">local_taxi</i> Cars</div>
</div>

<router-outlet></router-outlet>
